@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-1: #eadbc5;
  --color-2: #fcfbf9;
  --color-3: #e0aa95;
  --color-4: #81a858;
  --color-5: #b2c798;
  --color-font: #303030;
  --color-font-small: #828282;
}

body {
  margin: auto;
  font-size: 16px;
  font-family: "Ysabeau", sans-serif;
  background: linear-gradient(
    0.56turn,
    var(--color-3),
    var(--color-2),
    var(--color-1)
  );
  color: var(--color-font);
  width: 100vw;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 1rem;
}

.App-header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

.material-icons {
  font-size: 1rem;
}

button.header-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.header-btn:hover,
button.header-btn:hover:focus {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-4);
  border-radius: 10px;
  background: var(--color-2);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--color-4);
}

main {
  width: 100%;
  padding: 5rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.quotes {
  padding: 1rem;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  background-color: var(--color-2);
}

.single-quote {
  max-width: 350px;
  border-left: 3px solid var(--color-3);
  padding: 1rem;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.author-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  width: 70%;
  position: relative;

  border: none;
  background: transparent;
  padding: 0.5rem 0;
}

#author {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  font-style: italic;
}

.material-icons.btn {
  opacity: 0;
  text-align: right;
  width: 100%;
  background: transparent;
  z-index: 3;
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
}

.author-btn:hover,
.author-btn:hover:focus-within {
  border: 2px solid var(--color-3);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: var(--color-3);
}

.material-icons.btn:hover,
.material-icons.btn:hover:focus {
  opacity: 1;
}

.author-quotes {
  margin: 5rem 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-1);
  border-radius: 10px;
  gap: 2rem;
}
.author-quotes h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
}
.author-quotes span {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.3rem;
  max-width: 80ch;
}

.other-quotes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.other-quotes .quotes {
  margin: 2rem;
  display: flex;
  align-items: center;
}

.other-quotes .single-quote {
  border-left: 3px solid var(--color-5);
}

footer {
  text-align: center;
  padding: 1.5rem;
}

footer p {
  font-size: 0.8rem;
  color: var(--color-font-small);
}

@media (max-width: 550px) {
  .App-header h1 {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .quotes {
    width: 350px;
  }

  .author-quotes h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem 0;
  }

  .author-quotes {
    width: 100%;
    padding: 1rem;
  }

  .other-quotes .quotes {
    margin: 0.5rem;
  }

  .single-quote {
    margin: 0.5rem;
    font-size: 1.3rem;
  }
}
